node_modules/
.env
dist/
build/
npm-debug.log
postman/
.postman/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Optional overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log